// Colors (Default Theme)

$colorBgDeep:    #0F0F17;
$colorBgPrimary: #151523;
$colorBgSub:     #1E1E37;

$colorPrimary:   #4164DF;
$colorSecondary: #2B3ABD;
$colorTertiary:  #272D4F;

$colorTextRegular:  #C3D1FF;
$colorTextAction:   #FFFFFF;
$colorTextHint:     #515AAA;
$colorTextContrast: #000000;

$colorWarning: #FF9B3F;
$colorError:   #D41B3D;
$colorSuccess: #4EDC87;

$colorMax: #FFFFFF;
$colorMin: #000000;


// Timing Functions

$easeRegular: cubic-bezier(0.5, 0, 0, 1);