@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    @include box();
    @include flex(column, center, stretch, 4px);

    position: relative;
    min-width: 200px;
    width: max-content;
    user-select: none;

    &.translucent {
        @include translucent();
    }

    h4 {
        @include font(12px, 800, $colorTextHint);
        padding: 0 10px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
}

.options {
    @include flex(column, center, stretch, 4px);
}

.option {
    @include smallBox;
    @include flex(row, space-between, center);
    @include clickable;

    span {
        @include font(14px, 500);
    }

    .shortcut {
        @include font(12px, 500, $colorTextRegular);
        opacity: 0.35;
        margin-left: 40px;
    }

    &:hover, &.active {
        background: $colorSecondary;
        color: $colorTextAction;
        .shortcut {
            opacity: 1;
        }
    }

    .optionLeft, .optionRight {
        @include flex(row, flex-start, center);
        gap: 8px;
    }
}

.optionDivider {
    width: 100%;
    height: 4px;
    border-bottom: 1px solid #ffffff1a;
}

.submenuWrapper {
    position: absolute;
    left: calc(100% + 5px);
    top: 16px;
}