@import '../../styles/variables';
@import '../../styles/mixins';

.modalsContainer {
    @include fullscreenOverlay;
    @include flex(column, center, center);

    display: none;

    &.vis {
        display: flex;
        &::before {
            animation: appear 0.3s $easeRegular;
        }
    }

    &.cls {
        pointer-events: none;
        &::before {
            animation: disappear 0.3s $easeRegular;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes appear {
    from {
        backdrop-filter: blur(0px);
        background: #0000;
    }
}

@keyframes disappear {
    to {
        backdrop-filter: blur(0px);
        background: #0000;
    }
}