@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import "./styles/variables.scss";
@import "./styles/mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    height: 100%;
}

body {
    @include font(16px, 500, $colorTextRegular);
    background-color: $colorBgDeep;
    height: 100%;
}

#root, #app {
    height: 100%;
}

.canvasWrapper {
    max-width: 100%;
    height: 80vh;
    overflow: hidden;
    margin-bottom: 64px;
    position: relative;
}